<footer class="footer">
  <small>
    Made by <a href="http://www.ashlynbaum.com/">Ashlyn Baum</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
